In [1]:
'''
This is the notebook for finding mappings between exonic parts and transcripts
For new dataset
'''
from csv import reader
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import pickle

In [2]:
data_dir = '../data/data_last'
COPDGene_Freeze1_RNAseq_exonicParts = os.path.join(data_dir, 'COPDGene_Freeze3_RNAseq_exonicParts.csv')
COPDGene_Freeze1_RNAseq_genes = os.path.join(data_dir, 'COPDGene_Freeze3_RNAseq_genes.csv')
COPDGene_Freeze1_RNAseq_transcripts = os.path.join(data_dir, 'COPDGene_Freeze3_RNAseq_transcripts.csv')

exonicParts = pd.read_csv(COPDGene_Freeze1_RNAseq_exonicParts)
genes = pd.read_csv(COPDGene_Freeze1_RNAseq_genes)
trans_tx = pd.read_csv(COPDGene_Freeze1_RNAseq_transcripts)

mapping_dir = '../data/data_last'
IDmapping = os.path.join(mapping_dir, 'HMG-2016-JH-00187_Huan_Fig1SupplTable2_IDmapping.csv')
useful_gene = pd.read_csv(IDmapping)

/home/zifeng/anaconda3/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# this part is to generate exon, iso, gene mapping 
with open('./COPD/data/mapping_data_last/exon_list.pickle', 'rb') as f:
    exon_list_loaded = pickle.load(f)

In [10]:
selected_exon = exonicParts.loc[exon_list_loaded][['exon_name','tx_name','gene_id']]

In [13]:
useful_gene_new = useful_gene.rename(columns={'ensembl_gene_id': 'gene_id'})
useful_gene_new.gene_id.astype(str)

0       ENSG00000224020
1       ENSG00000095906
2       ENSG00000139679
3       ENSG00000132849
4       ENSG00000205927
             ...
1294    ENSG00000123146
1295    ENSG00000198846
1296    ENSG00000135763
1297    ENSG00000163636
1298    ENSG00000116688
Name: gene_id, Length: 1299, dtype: object

In [14]:
useful_gene_new

,gene_id,entrezgene,gene_biotype,hgnc_symbol,external_gene_name
0,ENSG00000224020,100379345,antisense,MIR181A2HG,MIR181A2HG
1,ENSG00000095906,10101,protein_coding,NUBP2,NUBP2
2,ENSG00000139679,10161,protein_coding,LPAR6,LPAR6
3,ENSG00000132849,10207,protein_coding,PATJ,PATJ
4,ENSG00000205927,10215,protein_coding,OLIG2,OLIG2
...,...,...,...,...,...
1294,ENSG00000123146,976,protein_coding,ADGRE5,ADGRE5
1295,ENSG00000198846,9760,protein_coding,TOX,TOX
1296,ENSG00000135763,9816,protein_coding,URB2,URB2
1297,ENSG00000163636,9861,protein_coding,PSMD6,PSMD6
1298,ENSG00000116688,9927,protein_coding,MFN2,MFN2

In [30]:
gg = selected_exon.join(useful_gene_new[['gene_id', 'external_gene_name']].set_index('gene_id'), on='gene_id')

In [48]:
gg.to_csv('exon_tx_gene_mapping.csv', index=False)

In [38]:
len(set(list(gg['external_gene_name'])))

1035

In [3]:
useful_gene.head(5)

   ensembl_gene_id  entrezgene    gene_biotype hgnc_symbol external_gene_name
0  ENSG00000224020   100379345       antisense  MIR181A2HG         MIR181A2HG
1  ENSG00000095906       10101  protein_coding       NUBP2              NUBP2
2  ENSG00000139679       10161  protein_coding       LPAR6              LPAR6
3  ENSG00000132849       10207  protein_coding        PATJ               PATJ
4  ENSG00000205927       10215  protein_coding       OLIG2              OLIG2

In [4]:
exonicParts

,id,gene_id,chr,strand,start,end,tx_name,exon_name
0,59061,ENSG00000225972,1,+,629062,629433,ENST00000416931,ENSE00001797039
1,59062,ENSG00000225630,1,+,629640,630683,ENST00000457540,ENSE00001780589
2,59063,ENSG00000237973,1,+,631074,632616,ENST00000414273,ENSE00001795950
3,59066,ENSG00000248527,1,+,633742,634375,ENST00000514057,ENSE00002056229
4,59067,ENSG00000198744,1,+,634377,634922,ENST00000416718,ENSE00001720008
...,...,...,...,...,...,...,...,...
254866,657573,ENSG00000276345,KI270721.1,+,11451,11802,ENST00000612848,ENSE00003740910
254867,657577,ENSG00000277856,KI270726.1,+,26241,26534,ENST00000619729,ENSE00003738911
254868,657578,ENSG00000275063,KI270726.1,+,41444,41489,ENST00000618003,ENSE00003729911
254869,657579,ENSG00000275063,KI270726.1,+,41572,41876,ENST00000618003,ENSE00003739162
254870,657586,ENSG00000278673,KI270727.1,-,21629,22392,ENST00000615005,ENSE00003717426

In [5]:
genes

               gene_id
0      ENSG00000227232
1      ENSG00000278267
2      ENSG00000238009
3      ENSG00000268903
4      ENSG00000269981
...                ...
21657  ENSG00000198695
21658  ENSG00000210194
21659  ENSG00000198727
21660  ENSG00000210195
21661  ENSG00000210196

[21662 rows x 1 columns]

In [6]:
trans_tx

         transcript_id          gene_id
0      ENST00000390396  ENSG00000211749
1      ENST00000390400  ENSG00000211753
2      ENST00000621184  ENSG00000275158
3      ENST00000390372  ENSG00000211725
4      ENST00000390369  ENSG00000253409
...                ...              ...
84982  ENST00000485382  ENSG00000204790
84983  ENST00000383620  ENSG00000206341
84984  ENST00000617319  ENSG00000275318
84985  ENST00000634119  ENSG00000282109
84986  ENST00000631874  ENSG00000282068

[84987 rows x 2 columns]

In [26]:
important_gene_list = useful_gene['ensembl_gene_id'].tolist()
important_gene_list
print(len(important_gene_list))
print(len(set(important_gene_list)))

1299
1299

In [8]:
tx_rows_to_get = trans_tx.loc[trans_tx['gene_id'].isin(important_gene_list)]
tx_list = tx_rows_to_get.index.values.tolist()
print(len(tx_list))
#pickle.dump(tx_list, open(os.path.join('../mapping_data_last', 'tx_list.pickle'),'wb'))

6559

In [10]:
gene_rows_to_get = genes.loc[genes['gene_id'].isin(important_gene_list)]
gene_list = gene_rows_to_get.index.values.tolist()
print(len(gene_list))
#pickle.dump(gene_list, open(os.path.join('../mapping_data_last', 'gene_list.pickle'),'wb'))

1079

In [27]:
rows_to_get = exonicParts.loc[exonicParts['gene_id'].isin(important_gene_list)]
important_exon_list = rows_to_get.index.values.tolist()
print(len(important_exon_list))
#pickle.dump(important_exon_list, open(os.path.join('../mapping_data_last', 'exon_list.pickle'),'wb'))
# here I want to save the indices

19284

In [12]:
# Then find the linking matrix
tx_list_small = rows_to_get['tx_name'].tolist()
transcripts_small = []
for transcript in tx_list_small:
    transcripts_small.extend(transcript.split('|'))
    
transcripts_distinct_small = set(transcripts_small)
num_transcript = len(transcripts_distinct_small)
print(num_transcript)

8924

In [39]:
# Then find the linking matrix
tx_list_small = rows_to_get['tx_name'].tolist()
transcripts_small = []
for transcript in tx_list_small:
    transcripts_small.extend(transcript.split('|'))
    
transcripts_distinct_small = set(transcripts_small)
num_transcript = len(transcripts_distinct_small)
num_exon = len(important_exon_list)
linking_matrix = np.zeros((num_exon, num_transcript))
trans_id = {}

for i, item in enumerate(transcripts_distinct_small):
    trans_id[item] = i
    
for i, transcript in enumerate(tx_list_small):
    trans = transcript.split('|')
    for tran in trans:
        tran_id = trans_id[tran]
        linking_matrix[i, tran_id] = 1
        
#pickle.dump(trans_id, open(os.path.join('../mapping_data_new', 'transcript_id.pickle'),'wb'))
#pickle.dump(linking_matrix, open(os.path.join('../mapping_data_new', 'linking_matrix.pickle'),'wb'))

In [15]:
rows_to_get_tx = trans_tx.loc[trans_tx['transcript_id'].isin(trans_id.keys())]
important_tx_list_2 = rows_to_get_tx.index.values.tolist()
print(len(important_tx_list_2))

6196

In [16]:
print(linking_matrix.shape)

(19284, 8924)

In [17]:
# map back to exonic ID
important_tx = rows_to_get_tx['transcript_id'].tolist()
important_tx_set = set(important_tx)
# find important exonic ID
# exonicParts.shape = (255124, 8)
index_list=[]
for i in range(254871):
    tx_temp = exonicParts['tx_name'][i].split('|')
    tx_temp = set(tx_temp)
    if important_tx_set & tx_temp:
        index_list.append(i)

In [18]:
# now get the real mapping matrix again
    
transcripts_distinct_small = important_tx_set
num_transcript = len(transcripts_distinct_small)
num_exon = len(index_list)
linking_matrix = np.zeros((num_exon, num_transcript))
trans_id = {}

for i, item in enumerate(transcripts_distinct_small):
    trans_id[item] = i
    
for i,real_id in enumerate(index_list):
    trans = exonicParts['tx_name'][real_id].split('|')
    for tran in trans:
        if tran in transcripts_distinct_small:
            tran_id = trans_id[tran]
            linking_matrix[i, tran_id] = 1

In [19]:
# this is for isoform-exon mapping
print(linking_matrix.shape)
save the new info somewhere
pickle.dump(important_tx_list_2, open(os.path.join('../mapping_data_last', 'tx_list.pickle'),'wb'))
pickle.dump(index_list, open(os.path.join('../mapping_data_last', 'exon_list.pickle'),'wb'))
pickle.dump(linking_matrix, open(os.path.join('../mapping_data_last', 'linking_matrix.pickle'),'wb'))

(19027, 6196)

In [21]:
gg = exonicParts.loc[index_list]['gene_id'].values.astype(str)

In [22]:
gg_list = gene_rows_to_get['gene_id'].values.astype(str)

In [23]:
inverse_dict = {gg_list[i]:i for i in range(len(gg_list))}

In [24]:
eg_linking_matrix = np.zeros((len(index_list), len(important_gene_list)))

In [25]:
for i, g in enumerate(gg):
    if g in inverse_dict:
        eg_linking_matrix[i, inverse_dict[g]] = 1

In [26]:
eg_linking_matrix.shape

(19027, 1299)

In [27]:
# this is for gene-exon mapping
pickle.dump(eg_linking_matrix, open(os.path.join('../data/mapping_data_last', 'eg_linking_matrix.pickle'),'wb'))